body {  background-attachment: fixed; background-image: url(/images/skin1/bbg.gif); font-size: 12pt}
a {  font-size: 12pt; color: #000066}
.bfont {  font-size: 12pt}
table {  font-size: 12pt}
font {  font-size: 12pt}
a:hover {  color: #CC0000; text-decoration: none; font-size: 12pt}
