/* CSS Document */
html, body, #contents {
	min-height: 100%;
	width: 100%;
	height: 100%;
}
html>body, html>body #contents {
	height: auto;
}
body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: medium;
	letter-spacing: 0.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.2em;
}
#header {
	position: relative;
	font-size: xx-large;
	font-weight: bold;
	color: #669900;
	margin: 5px;
	border: 1px solid #669900;
	background-color: #FFFFFF;
}
#nav {
	position: relative;
	width: 220px;
	float: left;
	margin: 1px;
	padding: 0px;
	background-color: #F0FFD0;
}
#menu_left {
	float: left;
	width: 200px;
}
#menu_right {
	float: right;
	background-color: #669900;
	font-size: small;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0px;
	text-align: center;
	width: 19px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #669900;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
#content {
	position: relative;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	padding: 0.5em;
	margin-top: 50px;
}
#contents {
	position: relative;
	background-image: url(../../interface/v2/image/sky-151.jpg);
	margin: 1px;
	padding: 1px;
	background-repeat: no-repeat;
	float: right;
	width: auto;
}
.area {
	padding: 0.2em;
	margin-bottom: 1px;
	border: 1px solid #669900;
	list-style-position: inside;
	list-style-type: none;
	background-color: #FFFFFF;
	
}
.area_title {
	font-size: 0.7em;
	font-weight: normal;
	color: #336600;
	padding: 0.2em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #669900;
	border-right-color: #669900;
	border-left-color: #669900;
	border-bottom-color: #F0FFD0;

}
.area2 {
	background-color: #FFFFFF;
	padding: 1em;
	margin-bottom: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #669900;
	border-bottom-color: #669900;
	border-left-color: #669900;	
}
.area2 a:link {
	color:#0066FF;
	text-decoration: underline;
	padding-bottom: 0.1em;
}
.area2 a:visited {	color:#666600; }
.area2 a:hover {	
	color:#669900;
	text-decoration:none;
}

.area2_title {
	font-size: small;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #669900;
	padding: 1em;
	border: 1px solid #0033CC;

}
#footer {
	position: absolute;
	bottom: -2px;
	width: 100%;
	color: #669900;
	font-size: small;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #669900;
	text-align: center;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-color: #FFFFFF;
}
img {
	vertical-align: middle;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
