/* CSS Document */
body {
margin: 0;
padding:0;
background-color:transparent;
}
.clmonth {
	border-collapse: collapse;
}
.clmonth caption {
	text-align: center;
	font: bold 90% Georgia, "Times New Roman", Times, serif; 
	padding-bottom: 4px;
}
.clmonth th {
	background-color: #99C0C7;
	color: #333333;
	padding-top: 0.2em;
	padding-right: 0.4em;
	padding-bottom: 0.2em;
	padding-left: 0.4em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 80%;
	border-top-color: #99C0C7;
	border-right-color: #99C0C7;
	border-bottom-color: #99C0C7;
	border-left-color: #99C0C7;
}
.clmonth td {
	border: 1px solid #99C0C7;
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0.2em;
	vertical-align: top;
}
.clmonth td.previous, .clmonth td.next {
	background-color: #F6F6F6;
	color: #C6C6C6;
}
.clmonth td.active {
	color: #006699;
	background-color: #C7DFE9;
	border: 2px solid #99C0C7;
}
.clmonth td.today {
	color: #721B1D;
	border: 2px solid #EBA9AA;
}
.clmonth td.holiday {
	color: #990000;
}
.clmonth a:link, .clmonth a:visited {
	color:#257A72;
	text-decoration: none;
}
