ul.tabnav {
	list-style-type: none;
	font-weight: normal;
	letter-spacing: 0.2em;
	margin: 0;
}
ul.tabnav li {
	float: left;
	background-color: #999999;
	margin-right: 3px;
	padding-top: 0.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	border-top-width: medium;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EBA9AA;
	border-right-color: #EBA9AA;
	border-bottom-color: #EBA9AA;
	border-left-color: #EBA9AA;
}
ul.tabnav a:link, ul.tabnav a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
ul.tabnav a:hover {
	color: #333333;
}
body#tabA li.tabA, body#tabB li.tabB, body#tabC li.tabC, body#tabD li.tabD {
	background-color: #EBA9AA;
	border-bottom-color: #EBA9AA;
	color: #000000;
}
body#tabA li.tabA a:link, body#tabA li.tabA a:visited,
body#tabB li.tabB a:link, body#tabB li.tabB a:visited,
body#tabC li.tabC a:link, body#tabC li.tabC a:visited,
body#tabD li.tabD a:link, body#tabD li.tabD a:visited {
	color: #000000;
}
