.ifr {
	background-color: #93acb4;
}

.txt1 {
	font-size: 11px;
	color: #333333;
}
.txt2 {
	font-size: 11px;
	color: #000000;
}

.tr1{background-color:#F1F5FA;}
.tr2{background-color:#ffffff;}

.datatable{
}
