body.news {
	margin: 0px;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 25px;
	font-size: 12px;
}
div.news {
	height: 321px;
	width: 700px;
	overflow: auto;
	margin-left: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.news table {
	width: 650px;
	padding: 0px;
	margin-top: 0px;
	font-size: 10pt;
}
.news td {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}
.news th {
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}
